---
import AboutHeroImage from '../assets/blog-placeholder-about.jpg';
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About"
	description="Let's meet!"
	pubDate={new Date()}
	heroImage={AboutHeroImage}
>
	<p>
		Hi! My name is Eldar, an Electrotechnics student at the University of Sarajevo, currently specializing in Computing, and Informatics.
	</p>

	<p>
		My journey into the digital world started early—way back in primary school with the fundamental logic of the BASIC programming language. Since then, my interest hasn't just grown; it's become the driving force behind everything I do.
	</p>


	<p>
		This blog is my platform for synthesizing and sharing knowledge. While my core focus is Computer Science, programming, and tech deep dives, I believe true mastery requires balance. Here, I also explore the impactful soft skills, life lessons, and passions that fuel a holistic life in tech.
	</p>

	<p>
		When I step away from the keyboard, I channel my creativity in other ways:
		<ul>
			<li><b>Community:</b> I am the creator of <a href="https://www.abouttesanj.ba/">AboutTesanj.ba</a>, a comprehensive tourism website dedicated to my hometown of Tešanj, Bosnia and Herzegovina, where I also host the <a href="https://www.youtube.com/@abouttesanj4621">AboutTesanj podcast</a>. This work blends my technical skills with my passion for community and storytelling.</li>
			<li><b>Interests:</b> You'll often find me exploring new music, immersed in a good book, or simply seeking out the next challenging problem to solve.</li>
		</ul>
	</p>

	<p>
		<b> This is a space for learning, growth, and sharing insights. Thank you for joining me on this journey!</b>
	</p>

	<i>This website is written in <a href="https://astro.build/">Astro</a> and it is inspired by <a href="https://github.com/catppuccin/catppuccin">Catpuccin</a> color theme</i>
</Layout>
