---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>Hello everyone!</h1>
			<p>Welcome to my blog, the place where I share the most interesting and impactful things I learn.</p>
			<p>I will mostly dive into Computer Science, programming, and tech deep dives, but I'll also explore other meaningful topics like soft skills and personal growth. </p>
			<p>Think of this space as my personal logbook—and your resource for navigating the tech world. </p>
			<p>I hope this content provides you with value, insight, and a dose of motivation, so let's dive in together!</p>
		</main>
		<Footer />
	</body>
</html>
